body,
html {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
#game-contacts {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 9999999999999;
}
#game-contacts ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#game-contacts li {
  float: right;
  margin: 20px 10px;
  background-color: #aaa9a9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#game-contacts img {
  width: 30px;
  height: 30px;
  margin: 0;
}
#game-running {
  float: left;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#game-presentation {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999999999;
}
#game-presentation article {
  font-size: 18px;
  text-align: justify;
  padding: 0 40px;
  color: #ffffff;
  line-height: 40px;
}

#game-presentation span {
  color: #0bad6f;
}
#game-presentation div {
  float: left;
  width: 100%;
  text-align: center;
}
#game-presentation button {
  background-color: #033503;
  padding: 8px;
  font-size: 25px;
  width: 200px;
  color: #ffffff;
  border-width: 0;
  border-bottom-width: 1px;
  margin-top: 20%;
}
.game-presentation-explosive {
  height: 40px;
  width: 60px;
  border-radius: 70% 100% 70% 0%;
  display: inline-block;
  background-color: #f00000;
  border-bottom: 8px solid #555555;
  border-top: 13px solid #555555;
  position: relative;
  top: -25px;
  left: -10px;
}

#game-background-animation {
  position: fixed;
  left: 50%;
  top: 200px;
}
#game-background-animation span {
  display: inline-block;
  width: 5px;
  height: 4px;
  position: absolute;
}

#shooters-base {
  width: 250px;
  height: 50px;
  background-color: #555555;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.explosives-shooter {
  background-color: transparent;
  width: 25px;
  height: 0px;
  position: relative;
  bottom: 40px;
  text-align: center;
  display: inline-block;
  border-top: 30px solid #555555;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  margin: 0 auto;
}

.explosive {
  height: 60px;
  width: 40px;
  border-radius: 100% 70% 0% 70%;
  display: inline-block;
  border-left: 13px solid #c4c4c4;
  border-right: 8px solid #c4c4c4;
  transform: translateY(-50px) scale(0);
  cursor: pointer;
}

.explosive span {
  display: inline-block;
  width: 5px;
  height: 4px;
  position: absolute;
  background-color: transparent;
  z-index: -999999999999999;
}

.explosive-messages {
  color: #e0dddd;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  rotate: 0;
  box-shadow: none;
  border-style: solid;
  border-width: 5px;
  position: relative;
  top: 20px;
  right: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  visibility: hidden;
  background-color: #111111;
}

#game-paused {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none;
  text-align: center;
}

#game-paused button {
  font-size: 30px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  line-height: 0px;
  padding: 0;
  position: relative;
  top: 50%;
}
.pause-game {
  position: fixed;
  left: 0;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pause-game button {
  font-weight: bold;
  background-color: #444444;
  padding: 5px 15px;
  border: 0;
  border-bottom: 2px solid blue;
  display: inline-block;
  margin-top: 15px;
  z-index: 999999;
}
.pause-game span {
  width: 5px;
  float: left;
  height: 20px;
  margin: 0px 2px;
  background-color: #000000;
}

#game-result {
  display: none;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  height: 100%;
  top: 0;
  left: 0;
}
.game-result-message {
  float: left;
  height: 100%;
  width: 100%;
}
.game-result-message div {
  font-size: 50px;
  padding: 20px 0;
  width: 0;
  height: 100%;
  float: left;
  overflow: hidden;
  border-bottom: 1px solid #555555;
  color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-result-message button {
  font-size: 20px;
  padding: 0 20px;

  display: inline-block;
  margin-top: 100px;
  border-radius: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid #ffffff;
}
.game-result-message strong {
  display: inline-block;
  margin: 50px;
}
